<div class="container">
    <div class="jumbotron">
        <h1>Transaction History</h1>
        <div class="row">
            <div class="column">
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>DEPOSIT</td>
                        </tr>
                        <tr>
<td>11</td>
<td>Withdraw</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
